.navbar{
height: 63px;
width : 1600px;
left : 0px;
top: 17px;
border-radius: 0px;
background: rgba(196, 196, 196, 0.2);}


.recherche{
background: rgba(27, 240, 227, 1);
height : 43px;
width: 191px;
left: 158px;
top: 23px;
border-radius: 0px}
.login{
    
}



